<html>
<head>
    <style type="text/css">
		.a {
			font-family: "microsoft sans serif";
		}
		.b{
			font-family: "microsoft yahei";
		}
		.c{
			font-family: "SimSun";
		}
		.d{
			font-family: "SimHei";
		}
		.e{
			font-family: "\5FAE\8F6F\96C5\9ED1";
		}
	</style>
</head>>



    <body bgcolor="brown">
        
        <h1 align="center"> <font size="15" color="white">TT DBS Share price prediction</font></h1>
        <form action="/" method="post">
            <p align="center"><font size="5" color="white">Please enter the exchange rates for USD to SGD (example 1.4)</font></p>
            <p align="center"><font size="15" color="white"><input type="number" step="0.01" name="rates"></font></p>>
            <p align="center"><font size="30"><input type="submit" value="Enter"></font></p>
            
        </form>
        <p align="center"><font size="30" color="white">the predict dbs share price is {{result}}</font>></p>
    </body>




</html>
